
  <div class="col-sm-12 d-flex flex-wrap flex-gap-2">
    <% @lists.each  do |list| %>
    <div class="card" style="width: 18rem;">
    <%=cl_image_tag list.photo.key, crop: :fill %>
    <div class="card-body">
    <h5 class="card-title"><%=list.name%> </h5>
        <%= link_to "Learn more", list_path(list), class: 'btn btn-primary'%>
      </div>
    </div>
  <% end %>
  </div>
</div>
