
<div class="row"></div>
  <div class="col-sm-12 d-flex flex-wrap flex-gap-2">
    <% @lists.each  do |list| %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src=<%="https://image.tmdb.org/t/p/original/#{list.movies[0].poster_url}"%> alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%=list.name%> </h5>
        <%= link_to "Learn more", list_path(list), class: 'btn btn-primary'%>
      </div>
    </div>
  <% end %>
  </div>
</div>
